* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0B1326;
  overflow-x: hidden;
}

:root {
  --bg-main: #0F172A;          /* Глубокий фон страницы */
  --bg-header: #111A2D;        /* Фон хедера */
  --bg-card: #171F33;          /* Фон блоков/карточек */
  
  --border-color: #464554;     /* Цвет линий и обводок */
  
  --text-primary: #C0C1FF;     /* Главный белый текст */
  --text-white: #fff;   /* Вспомогательный серый текст */
  
  --accent-color: #C0C1FF;     /* Светло-фиолетовый акцент */
  --accent-glow: rgba(99, 102, 241, 0.8); /* Цвет свечения */
  
  --green-color: #10b981;    /* Неоновый зеленый */
  --button-hover: #4F46E5;     /* Цвет кнопки при наведении */
  --dark-blue: #0D0096;       /* Черно-синий для фона кнопки*/
}

[data-theme='light'] {
  --bg-main: #F1F5F9;           /* Светлый серо-голубой фон */
  --bg-header: #FFFFFF;         /* Чисто белый хедер */
  --bg-card: #FFFFFF;           /* Белые карточки с тенями */
  
  --border-color: #CBD5E1;      /* Мягкие серые границы */
  
  --text-primary: #adaeff;      /* Чуть темно-фиолетовый акцент */
  --text-white: #475569;        /* Темно-серый для обычного текста */
  
  --accent-color: #4F46E5;      /* Более насыщенный фиолетовый для акцентов */
  --accent-glow: rgba(79, 70, 229, 0.2); /* Едва заметное свечение */
  
  --green-color: #059669;       /* Более глубокий зеленый */
  --button-hover: #3730A3;      /* Темный индиго для наведения */
  --dark-blue: #0D0096;         /* Черно-синий для фона кнопки */
}